.navbar {
  width: 100%;
  min-height: 5.1em;
  margin: 1em 0;
  padding: 0.7em;
  border-radius: 5px;
  background-image: url(./banner.png);
  background-size: cover;
}

.navlink,
.navlink:visited {
  padding: 0.4em 0.8em;
  margin: 0 0.4em;
  display: inline-flex;
  text-align: right;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FF5600;
  border-radius: 5px 25px;
  background-color: #FFFBF5;
  transition: all 0.1s linear;
}

.navlink:hover,
.navlink.isAtLocation {
  color: #FFFBF5;
  background-color: #FFC165;
}

.navlink.isAtLocation {
  padding-bottom: 1.2em;
}

.alignRight {
  right: 0;
}
